@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Trykker&display=swap");

.button {
  padding: 8px 16px;
  font-family: var(--font-body);
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
}

.button:active {
  background-color: var(--color-secondary);
}
