@import url("https://fonts.googleapis.com/css2?family=Martel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #ffc147;
  --color-primary-light: #fdfaf4;
  --color-secondary: #003366, 
  --color-tertiary: #965000,
  --color-text: #000,
}
