@import url("https://fonts.google.com/css?family=Fira+Sans&display=swap");
@import url("https://fonts.google.com/css?family=Almendra&display=swap");
@import url("https://fonts.google.com/css?family=Almendra+Display&display=swap");
@import "tailwindcss";

body {
  background-color: #003366;
  color: white;
  font-family: "Fira Sans", sans-serif;
}

h1 {
  color: #ffc147;
  font-size: 5.61rem;
  font-family: "Almendra Display", sans-serif;
  text-align: center;
  font-weight: 600;
}

h2 {
  color: #ffe4af;
  font-size: 4.209rem;
  font-family: "Almendra", sans-serif;
}

h3 {
  color: white;
  font-size: 3.157rem;
  font-family: "Almendra", sans-serif;
}

h4 {
  color: white;
  font-size: 2.369rem;
  font-family: "Almendra", sans-serif;
}

h5 {
  color: white;
  font-size: 1.777rem;
  font-family: "Almendra", sans-serif;
}

h6 {
  color: white;
  font-size: 1.333rem;
  font-family: "Almendra", sans-serif;
}

p {
  color: white;
  font-size: 1rem;
  font-family: "Fira Sans", sans-serif;
}

a:link {
  color: #f9f1e3;
  text-decoration: underline;
}

a:visited {
  color: #ffc147;
  text-decoration: underline;
}

a:hover {
  color: #ffe4af;
  text-decoration: underline;
}

a:active {
  color: #ffffff;
  text-decoration: underline;
}

footer {
  color: #f9f1e3;
}
